* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 100px;
    background-color: lightpink;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 3px;
    text-align: center;
    background-color: #0cc;
    z-index: 100;
}
h2.alignleft {
    float: left;
}

.headings {
    width: 100%;
    text-align: left;
    font-weight: bold;
    text-align: center;

}
li {
    list-style-type: "➢";
    color: firebrick;
}
li span {
    color: black;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 15cm;
    max-height: 15cm;
    margin-left: auto;
    margin-right: auto;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.figures {
    width: 100%;
    text-align: left;
    font-weight: 500;
    text-align: center;
    color: hotpink;
}
